// Amarelos
$yellow: #ffd427;
$yellow-light: #fad957;
$yellow-light-super: #ffefae;

// Laranjas
$orange: #ff6d12;
$orange-light: #ff8e47;

// Vermelhos
$red: #ed2929;
$red-light: #ff5757;

// Verdes
$green: #5cd628;
$green-light: #83e35a;

// Roxos
$purple: #6c32df;
$purple-light: #9965ff;
$purple-light_super: #d2bcff;

// Azuis
$blue: #1ea1ef;
$blue-light: #4eade4;
$blue-light_super: #86c6ec;

// Básicas
$white: #fff;
$white-sam: #EDE1E1;
$black: #000;
$brown: #826060;