// menu

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    background-color: $yellow-light;
    color: $orange;
    position: absolute;
}

// scrollbar
::-webkit-scrollbar {
    width: 8px;
  }

::-webkit-scrollbar-thumb {
    background: $yellow-light;
}

// sections

section {
    width: 100%;
    height: 100%;
}

// container

.container {
    margin: 0 auto;
    padding: 24px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 90vh;
    
}

@media screen and (max-width: 1150px){
    .hero {
        height: auto;
    }
    .container {
        flex-direction: column;
    }
}

#logo {
    
// faz a imagem virar
    // -moz-transform: scaleX(-1);
    // -o-transform: scaleX(-1);
    // -webkit-transform: scaleX(-1);
    // transform: scaleX(-1);

    width: 600px;
}

.yellow {
    background-color: $yellow-light;
}

// section-2


.celular {
    width: 200px;
    height: 400px;
    background-color: $yellow-light;
    border-radius: 10px;

    transform:
    rotateX(51deg)
    rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow:
    1px 1px 0 1px $yellow-light,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;

  &:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px $yellow-light,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
}

.info, .cell {
    width: 600px;
    height: 400px;
}

.cell {
    display: flex;
    justify-content: center;

}

.blur {
  filter: blur(20px);
}


.celular2 {
  width: 200px;
  height: 400px;
  background-color: $yellow-light;
  border-radius: 10px;

  transform:
  rotateX(51deg)
  rotateZ(43deg);
transform-style: preserve-3d;
border-radius: 32px;
box-shadow:
  1px 1px 0 1px $yellow-light,
  -1px 0 28px 0 rgba(34, 33, 81, 0.01),
  28px 28px 28px 0 rgba(34, 33, 81, 0.25);
transition:
  .4s ease-in-out transform,
  .4s ease-in-out box-shadow;


&:hover {
  transform:
    translate3d(0px, -16px, 0px)
    rotateX(51deg)
    rotateZ(43deg);
  box-shadow:
    1px 1px 0 1px $yellow-light,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}
}

.button-download {
    display: inline-block;
    margin-top: 64px;
    font-size: 18px;
    padding: 20px 60px;
    position: relative;
    border-radius: 30px;
    background-color: $yellow-light;

    transition: .5s ease;

    &:hover {
      background-color: $yellow;
      border-radius: 10px;
    }
}

.screen {
  width: 200px;
  height: 400px;
  background-color: $yellow-light;
  border-radius: 10px;
  transition: 1s ease;

  &:hover {
    width: 210px;
    height: 410px;
  }
}

.fundo {
  background-color: $white;
  margin-top: -400px;
  position: absolute;
}


// FOOTER NÃO RESPONSIVO

footer {
  background-color: $yellow-light;
}


.list-item {
  max-width: 100%;
  margin: 0 auto;
  padding: 16px 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1150px) {
  .list-item {
      display: grid;

      h6 {
          font-size: 16px;
      }

      .text-right {
          text-align: left;
      }
  }
}


.social {
  img {
      max-width: 30px;
  }
}

.logo {
  width: 400px;
}

.info-f {
  width: 1000px;
  height: 400px;
}

.wave {
  background-color: $white;
}

.title {
  font-weight: bolder;
}