// menu

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    background: $yellow-light;
    
}

@media screen and (max-width: 1150px){
    .menu-right {
        display: none;
    }
}

.sumir {
    display: none;
}

.menu-resp{
    background-color: $yellow-light;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.btn {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 85%;
  cursor: pointer;
  display: none;
}

.btn-left {
  background-color: $black;
  position: absolute;
  height: 5px;
  width: 20px;
  top: 30px;
  left: 0px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

  &::before {
    background-color: $black;
    position: absolute;
    height: 5px;
    width: 20px;
    content: "";
    top: -15px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  &::after {
    background-color: $black;
    position: absolute;
    height: 5px;
    width: 20px;
    content: "";
    top: 15px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
}

.btn-right {
  background-color: $black;
  position: absolute;
  height: 5px;
  width: 20px;
  top: 30px;
  left: 19px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

  &::before {
    background-color: $black;
    position: absolute;
    height: 5px;
    width: 20px;
    content: "";
    top: -15px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  &::after {
    background-color: $black;
    position: absolute;
    height: 5px;
    width: 20px;
    content: "";
    top: 15px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
}

.active .btn-left {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: transparent;

  &::before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
  }

  &::after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
  }
}

.active .btn-right {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: transparent;

  &::before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
  }

  &::after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
  }
}

@media screen and (max-width: 1150px) {
    .btn {
      display: flex;
    }
  }

// scrollbar
::-webkit-scrollbar {
    width: 8px;
  }

::-webkit-scrollbar-thumb {
    background: $yellow-light;
}

// container

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 24px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header {
  max-width: 100%;
  margin: 0 auto;
  padding: 24px 16px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sobre {
    height: 90vh;
}

@media screen and (max-width: 1150px){
    .sobre {
        height: auto;
    }
    .container {
        flex-direction: column;
    }
}

.container-item {
  max-width: 700px;
}

.container-item:nth-child(1) {
    flex-grow: 1;
    margin: 0px 20px;
}

.container-item:not(.areas):nth-child(2) {
    margin: 40px 0px;

    img {
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

}

.areas {
  max-width: 500px;
  margin: 0px 20px;
}

.logo-sam {
        max-width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

@media screen and (max-width: 1150px) {
    .container-item:not(.areas):nth-child(2) {
      flex-grow: 1;

        img {
            max-width: 200px;
        }
    }

    .logo-sam {
        max-width: 300px;
    }

    .slogan {
      text-align: center;
    }

    .areas {
      margin-top: $gap-2;
    }
}

.list-item {
    max-width: 100%;
    margin: 0 auto;
    padding: 16px 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menor {
  max-width: 600px;
}

.telaToda {
  width: 100%;
}

.perspective {
  transform:
    scale(0.75)
    rotateY(-30deg)
    rotateX(45deg)
    translateZ(4.5rem);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  transition: 1s ease transform;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1) translateZ(0);
  }

  img {
    max-width: 100px;
  }

}

.perspective-top {
  position: absolute;
  z-index: 0;
  transform: translateZ(4rem);
  transition: all 500ms;

  &:hover {
    transform: translateZ(0);
  }
}

.perspective-middle {
  position: absolute;
  z-index: -1;

  &:hover {
    transform: translateZ(0);
  }
}

.perspective-bottom {
position: absolute;
z-index: -2;
transform: translateZ(-4rem);

&:hover {
  transform: translateZ(0);
}

img {
  filter: drop-shadow(0px 0px 32px rgba(0,0,0,0.5));
}

}

@media screen and (max-width: 1150px) {
  .perspective {
    transform: rotateY(0) rotateX(0) translateZ(0);
    width: 100%;
  }

  .perspective-top, .perspective-middle, .perspective-bottom {
   transform: translateZ(0);
  }
}

.download {
  background-color: $yellow-light;
  margin: 0 auto;
  padding: 30px;
  border-radius: 65px;
  max-width: 500px;
}

// FOOTER
footer {
    background-color: $yellow-light;
    color: $black;
}

.social {
    img {
        max-width: 30px;
    }
}

.footer-item {
  max-width: 100%;
  margin: 0 auto;
  padding: 16px 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

.info {
  max-width: 700px;
}

.logo-footer {
  max-width: 100px;
}

@media screen and (max-width: 1150px) {
    .list-item, .footer-item {
        display: grid;

        h6 {
            font-size: 16px;
        }

        .text-right {
            text-align: left;
        }
    }

    .info {
      max-width: auto;
    }
}

.repo {
  text-decoration: underline;
}

.wave {
  background-color: $white;
}


.escala {
  transform: scale(.8);
}

