h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Poppins', normal;
    font-weight: 200;
    color: $black;
}

a {
    text-decoration: none;
    font-size: 18px;
    line-height: 150%;
    color: $black;
    transition: .5s ease;

    &:hover {
        opacity: 0.7;
    }
}

h1 {
    font-size: 96px;
    line-height: 100%;
}

@media screen and (max-width: 1150px){
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    } 

    h3 {
        font-size: 32px;
    }
}

h2 {
    font-size: 56px;
    line-height: 110%;
}

h3 {
    font-size: 40px;
    line-height: 110%;
}

h4 {
    font-size: 32px;
    line-height: 120%;
}

h5 {
    font-size: 24px;
    line-height: 140%;
}

h6 {
    font-size: 18px;
    line-height: 150%;
}

@media screen and (max-width: 960px){
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    } 

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 18px;
    }
}


.text-center {
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.bold {
    font-weight: bold;
}